In [1]:
import requests,pandas as pd

In [2]:
url = 'https://www.ncei.noaa.gov/data/local-climatological-data/access/2021/'

In [3]:
response = requests.get(url)
response

In [ ]:
response.content

In [5]:
data_in_list = pd.read_html(response.content)

In [6]:
data_in_list

[                   Name     Last modified  Size  Description
 0                   NaN               NaN   NaN          NaN
 1      Parent Directory               NaN     -          NaN
 2       01001099999.csv  2022-02-07 13:33  4.0M          NaN
 3       01001499999.csv  2022-02-07 14:45  2.8M          NaN
 4       01002099999.csv  2022-02-07 15:03  175K          NaN
 ...                 ...               ...   ...          ...
 13540   A0735700182.csv  2022-02-07 14:11   14M          NaN
 13541   A0735900240.csv  2022-02-07 13:50   14M          NaN
 13542   A5125500445.csv  2022-02-07 13:30   14M          NaN
 13543   A5125600451.csv  2022-02-07 14:36   15M          NaN
 13544               NaN               NaN   NaN          NaN

 [13545 rows x 4 columns]]

In [7]:
df = data_in_list[0]
df.head()

               Name     Last modified  Size  Description
0               NaN               NaN   NaN          NaN
1  Parent Directory               NaN     -          NaN
2   01001099999.csv  2022-02-07 13:33  4.0M          NaN
3   01001499999.csv  2022-02-07 14:45  2.8M          NaN
4   01002099999.csv  2022-02-07 15:03  175K          NaN

In [8]:
timestamp = '2022-02-07 14:03'

In [9]:
df[df['Last modified'] == timestamp]['Name']

11       01011099999.csv
87       01151099999.csv
436      02548099999.csv
565      02811099999.csv
690      03059099999.csv
              ...
13320    99999900458.csv
13390    99999925522.csv
13393    99999926494.csv
13395    99999926563.csv
13522    A0002453848.csv
Name: Name, Length: 102, dtype: object

In [10]:
len(df[df['Last modified'] == timestamp]['Name'])

102

### Let's get the 1st file

In [11]:
filename = df[df['Last modified'] == timestamp]['Name'].iloc[0]
filename

'01011099999.csv'

In [12]:
import wget

In [ ]:
wget.download(url+'/'+filename)

In [14]:
actual_file = pd.read_csv(filename)
actual_file

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,1011099999,2021-01-01T23:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1011099999,2021-01-03T01:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1011099999,2021-01-04T00:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1011099999,2021-01-05T01:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1011099999,2021-01-05T10:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,1011099999,2021-12-22T23:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,1011099999,2021-12-28T00:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,1011099999,2021-12-28T23:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,1011099999,2021-12-29T22:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,1011099999,2021-12-31T23:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
actual_file.columns

Index(['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'NAME',
       'REPORT_TYPE', 'SOURCE', 'HourlyAltimeterSetting',
       'HourlyDewPointTemperature',
       ...
       'BackupDirection', 'BackupDistance', 'BackupDistanceUnit',
       'BackupElements', 'BackupElevation', 'BackupEquipment',
       'BackupLatitude', 'BackupLongitude', 'BackupName',
       'WindEquipmentChangeDate'],
      dtype='object', length=125)

In [16]:
max_drybulb_temp = actual_file['HourlyDryBulbTemperature'].max()

In [17]:
actual_file[actual_file['HourlyDryBulbTemperature'] == max_drybulb_temp]

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
180,1011099999,2021-08-11T22:00:00,80.066667,31.5,10.0,"KVITOYA, SV",FM-12,4,NaN,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN